*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 150vh;
    width: 100vw;
    background-color:rgb(255, 255, 253);
    backdrop-filter: blur(6px);
}
.navbar{
    height: 16vh;
    width: 100vw;
    background-color:rgb(249, 248, 248);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 1vw;
    padding-left:8vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 10px rgba(61, 61, 61, 0.2);
    opacity: 0.96;
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1vw;
}
.logo{
    height:12vh;
    width: 17vw;
    background-color: black;
    background-image: url(logo.png);
    background-size: cover;
}
.logo1{
    height:5vh;
    width: 2.2vw;
    background-color: rgb(252, 248, 244);
    background-image: url(logo1.png);
    background-size: cover;
    margin-right: 2vw;
    margin-top: 2vh;
}
.logo2{
    height:5vh;
    width: 2.2vw;
    background-color: rgb(252, 248, 244);
    background-image: url(about.png);
    background-size: cover;
    margin-right: 2vw;
    margin-top: 2vh;
}
.logo3{
    height:5vh;
    width: 2.2vw;
    background-color: rgb(252, 248, 244);
    background-image: url(cart.png);
    background-size: cover;
    margin-right: 2vw;
    margin-top: 2vh;
}
.logo4{
    height:5vh;
    width: 2.2vw;
    background-color: rgb(252, 248, 244);
    background-image: url(list.png);
    background-size: cover;
    margin-right: 2vw;
    margin-top: 2vh;
}
.intro{
    backdrop-filter: blur(50px);
    display: flex;
    flex-direction: row;
}
.left{
    height: 155vh;
    width: 50vw;
    background: linear-gradient(to left,#fdf6ce,#fabe4d);  
}
.right{
    background-image: url(necklace.jpg);
    height: 155vh;
    width: 90vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
 .luxury{
    width: 20vw;
    height: 7vh;
    margin-left:15vw;
    margin-top: 8vh;
    text-align: center;
    color: rgb(182, 144, 17); 
    background: linear-gradient(135deg,
        #f7d774,
        #ecc047,
        #f5d67a
    );
    border: 2px solid rgba(254, 211, 22, 0.851);
    box-shadow:
        0 8px 25px rgba(212,175,55,0.35),
        inset 0 1px 2px rgba(255,255,255,0.5);

    border-radius: 6px;

    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    padding: 1.5vh;
    margin-bottom: 4vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;
    padding-left: 11.5vw;
    font-size: 7.5vw;
    color:rgb(46, 45, 45);
    text-shadow: 0 0 15px rgb(243, 181, 27);
    animation: move 2.6s ease;
}
@keyframes move{
    from{
        transform:translateX(-60vh);
    }
    to{
        transform:translateX(0vh); 
    }
}
.time{
    padding-top: 5vh;
}
.Elegance{
    padding-top: 5vh;
}
.gold{
    padding-top: 5vh;
}
.bar{
    height: 0.5vh;
    width: 20vw;
    background-color: rgb(212, 168, 22);
    margin-top: 8vh;
    margin-left: 12vw;
}
.paragraph{
    margin-left: 10vw;
    margin-top: 8vh;
    font-size: 1.6vw;
    font-weight: 500;
    color: rgb(154, 119, 5); 
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    word-spacing:5px;
    
}
button.EXPLORE{
    padding-left: 5vh;
    margin-top: 5vh;
    margin-left: 13vw;
    height: 9.9vh;
    width: 20vw;
    background-color:rgb(249, 223, 186);
    border: 2px solid rgb(201, 156, 9);
    color: rgb(201, 156, 9);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2vw;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    z-index: 9999;
}
button.EXPLORE:hover{
    background-color:rgb(206, 161, 14);
    color: black;
}
.logo5{
    background-image: url(arrow.png);
    background-size: cover;
    height: 4vh;
    width: 2vw;
    margin-left: 1vh;
}
.div1{
    height: 300vh;
    width: 100vw;
    background-size: cover;
    clip-path: polygon(0 0, 85% 0, 50% 100%, 0 100%);
    background-size: cover;
}
.div1::before{
    content: "GOLD";
    position: absolute;
    left: -180px;
    top: 40%;
    transform: translateY(39%) rotate(90deg);
    font-size: 220px;
    color: rgba(0,0,0,0.06);
    font-weight: bold;
}
.bar1{
    height: 0.4vh;
    width: 90vw;
    background-color: rgb(43, 42, 42);
    margin-top: 5vh;
    margin-left: 5vw;
    opacity: 0.5;
}
.stats{
    margin-top: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.captions{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: rgb(65,64,64);
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -5.5vh;
}
.pure{
    margin-left: 1vw;
}